extends base

include mixins

block append metas
	meta(name="viewport",content="width=device-width,initial-scale=1,maximum-scale=1")

block contenido
	h1= titulo
	ul
		each curso, indice in cursos
			li= curso.toUpperCase() + "-" + indice

	ol
		each alumno in alumnos
			li= alumno.nombre

	+formulario("Formulario de Registro", "/?_method=PUT")